*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color:#021832;
    --secondary-color:#caa169;
    --bg-color:#f4f4f4;
    --bg-white:#fff;
    --bg-black:#000;

    --primarry-font:'Poppins','sans-serif';
    --secondary-font:'Oswald','sans-serif';
    --primary-text:#021832;
    /* --secondary-text:#caa169;     */
    --text-white:#fff;
    --text-black:#151515;
    --text-grey:#e4e4e4;

}

.navbar-brand
{
    font-size: 10rem;
    color:red

}
.navbar-brand:hover{
color:red
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color:black;
    text-transform: uppercase;
    font-family: "Merriweather", serif;
}
.nav-link:hover{
    color: black;
}
body{
    font-family: var(--primary-font);
    background-color: var(--bg white);
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: .375rem;
}
::-webkit-scrollbar-track{
    background: var(--secondary-color);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color)
}
section-title{
     border-bottom:none;
}
.taikhoan{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-color);
    padding: 10px 15px;
    border-radius: 3.125;
    line-height: 1.75rem;
    display:inline-block;
    transition: all 0.3s ease-out 0s;
}
.taikhoan:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color:var(--text-white);
}

.taikhoan {
    padding: 10px 15px;
    border: 2px solid transparent; /* Khung mặc định trong suốt */
    transition: border-color 0.3s ease; /* Hiệu ứng chuyển đổi */
}
.taikhoan:hover {
    border-color: #000; /* Màu khung khi di chuột vào */
}
h1{
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 1.25;
    text-transform: uppercase;
    font-family: var(--secondary-font);

}
h3{
    margin-bottom: 1.875rem;
    line-height: 2.875rem;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}
h3 span{
    color: var(--secondary-color);
}
h5{
    font-size: 1.5rem;
    line-height: 1;
    color:var(--primary-text);
    font-weight: 500;
    font-family: var(--secondary-font);
    padding-bottom: 0.5rem;
}
h6{

    font-size:.875rem;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);
}
p{
    font-size: 1rem;
    color:var(--text-black);
    line-height: 1.625rem;
}


.search{
height: 40px;
width: 80%;
border-radius: 60px ;
outline:none;
margin-right: -35px;
font-family: "Merriweather", serif;  ;
border: 2px solid rgb(248,26,92);
}
/* tìm kiếm */
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248,26,92);
    color:white;
    font-weight: 700;
}
/* style.css */

/* header có border-bottom */
.header_wrapper {
    padding: .9375rem;
    background-color: var(--bg--white);
    box-shadow: 0 .5rem .375rem -0.375rem rgba(0, 0, 0, 0.4);
    transition: background 0s ease-in-out, margin-top 0s ease-in-out, opacity 0s ease-in-out;
    border-bottom: 1px solid #000; /* Đường kẻ phân cách dưới cùng của header */
}

.section-title::after {
    content: '';
    display: block;
    margin: 0.5rem auto; /* Điều chỉnh khoảng cách và vị trí của dòng */
    height: .9375rem;
    background-image: url('../image/logo-am-ban.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}
.header_wrapper .navbar-toggler{
    border: 0;
    color: var(--primary-text);
    line-height: 2;
}
.header_wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.header_wrapper .nav-item
{
    margin: 0 .5rem;
}
.header_wrapper .nav-item .nav-link{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text);
    display: inline-block;
}
.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link.active{
    color: var(--secondary-text);
}
.navbar .header_scrolledp{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgb(255,255,255,.85);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown ;
}
@keyframes fadeInDown{
    0%{
        top:-30%;
}
    50%{
        top:-15%;

    }
    100%{
        top:0;
    }
}
/* truyen */
/* chỉnh mờ và size ảnh */
.truyens_wrapper .truyen-items{
     position: relative;
    overflow: hidden;
}
.truyens_wrapper .truyen-items img{
    width: 100%;
    -webkit-transition:all 400ms ease-in-out 0s;    
    transition:all 400ms ease-in-out 0s;
}
.truyens_wrapper .truyen-items:hover img{
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform:scale3d(1.05, 1.05, 1.05);
}
.truyens_wrapper .truyen-items::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  var(--bg-black);
    opacity: 0;
    z-index: 1;
    transition: all 400ms ease-in-out 0s;   
}
.truyens_wrapper .truyen-items:hover::before{
    opacity: 0.5;
}
.truyens_wrapper .truyen-item-wrap{
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
}
.truyens_wrapper .truyen-items .truyen-content{
    border: .125rem solid var(--bg--white);
    padding: 5rem 1.875rem;
    transform:  scale3d(1.2,1.2, 1.2);
    transition: all 500ms ease-in 0s;
    opacity: 0;

}
.truyens_wrapper .truyen-items:hover .truyen-content{
    opacity: 1;
    transform: scale3d(1, 1 ,1);

}