@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}
body{
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
    background-color: var(--pink)!important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* COLOR SAO */
.text-primary{
    color: var(--pink)!important;
}

/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 50px;

}
.custom-img {
    height: 350px; /* Chiều cao cố định */
    object-fit: cover; /* Đảm bảo giữ nguyên tỉ lệ */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng của phần tử chứa */
}

.custom-height {
    height: 100px; /* Điều chỉnh chiều cao theo ý muốn */
    object-fit: cover; /* Giữ tỉ lệ hình ảnh và cắt những phần thừa nếu cần */
}

.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* header */
#header{
    background: url(../images/banner-img-1.jpg) top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: var(--pink)!important;
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}

/*  ẢNH HEADER*/
.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}
.collection-img img {
    transition: transform 0.5s ease-in-out; /* hiệu ứng chuyển đổi */
}

.collection-img img:hover {
    transform: scale(1.05); /*  di chuột */
}



.fw-bold a {
    display: inline-block; /* Đảm bảo các nút hiển thị cùng một hàng */
    margin-right: 10px; /* Khoảng cách giữa các nút */
}

.fw-bold {
    display: inline-block; /* Đảm bảo span hiển thị cùng một hàng với các phần tử khác */
}

/* click */
.filter-button-group .btn:hover{
    color: #fff!important;
}
/* ảnh */
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* special */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100%;
    width: auto; /* Đảm bảo ảnh giữ tỷ lệ gốc */
    object-fit: cover; 
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.special-img {
    height: 500px; /* Đặt chiều cao cố định cho khung ảnh */
    overflow: hidden; 
}




/*  SP SPECIAL  */
#offers{
    background: url(../image/thanhguom.png) center/100% 180% no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 0.8em;
}
.offers-content h2{
    font-size: 40px;
    font-family:  var(--pink)!important;
}
.offers-content .btn{
    border-color: transparent!important;
}

/* Truyện chữ img */


.truyenchu-img {
    height: 500px; 
    object-fit: cover; 
    width: 100%; /* Đảm bảo ảnh lấp đầy chiều rộng khung */
}

.truyenchu {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* SP CHAY */
#about{
    background-color: rgba(179, 179, 179, 0.05);
}

.SPCHAY-img{
    height: 600px; 
    object-fit: cover; 
    width: 100%;
}
.SPCHAY {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* thống kê */
.thongke-img {
    height: 250px; 
    object-fit: cover; 
    width: 60%;
}
.thongke {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MEOW MEOW */
#meow{
    background-color: rgba(179, 179, 179, 0.05);
}
#meow p{
    max-width: 600px;
}
#meow .input-group{
    max-width: 500px;
}
#meow .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#meow .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}
#meow .btn:hover{
    background-color: #000;
    border-color: #000;
}


/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
}

.btn-note:not(.nav-btns button):hover{
    background-color: white;
    color: #fff;
    border-color: var(--pink);
}
.btn-note:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.custom-small-text {
    font-size: 1rem; /* Thay đổi giá trị này để điều chỉnh kích thước chữ */
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}