@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font:  "Rubik", sans-serif;
    --pink: #e5345b;
}
body{
    font-family: var(--sm-font);
    background-color: white;
}


.hero {
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
}

nav {
    background: #641a2a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
/* .py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
} */
.logo {
    width: 120px;
}
.navbar-brand .text-uppercase {
     font-family: "Playwrite CL", cursive;
     font-size: medium;
}
.fixed-top {
    position: fixed;
    top: -22px;
    right: 0;
    left: 0;
    z-index: 1030;
    
}
.user-account-box{
    width: 100px;
    height: 50px;
    right: -10px;
    left: -10px;
}
.user-pic {
    width: 30px; /* Giảm kích thước hình ảnh */
    height: 30px; /* Đảm bảo hình ảnh là hình vuông */
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px; /* Giảm khoảng cách bên trái */
    margin-bottom: 40px;
}

nav ul {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px; /* Giảm margin giữa các mục */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: -100px;
    width: 280px; /* Giảm kích thước menu */
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
    right: -100px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    position: relative;
   
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 400;
}

.user-info img {
    width: 40px; /* Giảm kích thước hình ảnh trong menu */
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    /* align-items: center; */
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 30px; /* Giảm kích thước hình ảnh icon */
    height: 30px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px; /* Giảm khoảng cách bên phải */
}

.sub-menu-link span {
    font-size: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translate(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.account-info {
    display: flex;
    align-items: center;
}

.brand-text {
    margin-right: 10px; /* Khoảng cách giữa văn bản và hình ảnh */
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.bg-custom{
    color:#ff3366;
}





/* button */
.bg-primary{
    background-color: var(--pink)!important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #5a3d3d;
    border-color: var(--pink);
}
.bg-custom{
    color:#60333d;
}
.btn {
    margin-right: 70px;
}

/* demo */
body {
    font-family: Arial, sans-serif;
}

.menu-container {
    position: relative;
    display: inline-block;
}

#menuButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: #f1f1f1;
}


/* COLOR SAO */
.text-primary{
    color: var(--pink)!important;
}
/* CSS for light and dark mode */
/* CSS for light and dark mode */
body.light-mode {
    background-color: white;
    color: black;
}
#icon-fluid {
    width: 30px; /* Chỉnh kích thước theo nhu cầu của bạn */
    height: 30px; 
}


.icon.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: black;
    color: white;
}

/* Optional: Change styles of other elements if needed */
.navbar.light-mode {
    background-color: #f8f9fa;
}

.navbar.dark-mode {
    background-color: #343a40;
}
.navbar-toggler-icon{
    color: #e5e5e5;
}


/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(200, 9, 9, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 50px;

}
.custom-img {
    height: 350px; /* Chiều cao cố định */
    object-fit: fill; /* Đảm bảo giữ nguyên tỉ lệ */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng của phần tử chứa */
}

.custom-height {
    height: 100px; /* Điều chỉnh chiều cao theo ý muốn */
    object-fit: cover; /* Giữ tỉ lệ hình ảnh và cắt những phần thừa nếu cần */
}

.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}



.navbar-nav .nav-link {
    line-height: 1.5; /* Điều chỉnh line-height */
    height: 100%; /* Đảm bảo tất cả các liên kết có chiều cao đầy đủ */
}





/* header */
#header{
    background: url(../images/banner-img-1.jpg) top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: var(--pink)!important;
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}

/*  ẢNH HEADER*/
.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}
.collection-img img {
    transition: transform 0.5s ease-in-out; /* hiệu ứng chuyển đổi */
}

.collection-img img:hover {
    transform: scale(1.05); /*  di chuột */
}



.fw-bold a {
    display: inline-block; /* Đảm bảo các nút hiển thị cùng một hàng */
    margin-right: 10px; /* Khoảng cách giữa các nút */
}

.fw-bold {
    display: inline-block; /* Đảm bảo span hiển thị cùng một hàng với các phần tử khác */
}

/* click */
.filter-button-group .btn:hover{
    color: #fff!important;
}
/* ảnh */
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* special */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100%;
    width: auto; /* Đảm bảo ảnh giữ tỷ lệ gốc */
    object-fit: cover; 
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.special-img {
    height: 500px; /* Đặt chiều cao cố định cho khung ảnh */
    overflow: hidden; 
}


/*  SP SPECIAL  */
#offers{
    background: url(../image/thanhguom.png) center/100% 180% no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 0.8em;
}
.offers-content h2{
    font-size: 40px;
    font-family:  var(--pink)!important;
}
.offers-content .btn{
    border-color: transparent!important;
}

/* Truyện chữ img */


.truyenchu-img {
    height: 500px; 
    object-fit: cover; 
    width: 100%; /* Đảm bảo ảnh lấp đầy chiều rộng khung */
}

.truyenchu {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* SP CHAY */
#about{
    background-color: rgba(179, 179, 179, 0.05);
}

.SPCHAY-img{
    height: 600px; 
    object-fit: cover; 
    width: 100%;
}
.SPCHAY {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about {
    background-color: #F4D9D0; /* Nền nhẹ */
    border: 1px solid #a17878; /* Đường viền nhẹ */
    border-radius: 10px; /* Bo góc đường viền */
    padding: 2rem; /* Padding cho toàn bộ phần */
    margin-bottom: 2rem; /* Margin phía dưới */
}



/* thống kê */

 .thongke-img {
    height: 200px; 
    object-fit:fill; 
    width: 60%;
    border: 2px solid pink;
    border-radius: 5px;
    border-color: #e5345b;
}
.thongke {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.position-relative {
    position: relative;
}

.hot-badge {
    top: 3px; /* khoảng cách từ đỉnh ảnh xuống */
    right: 170px; /* khoảng cách từ phải ảnh vào */
    padding: 5px 10px; /* thêm một chút khoảng đệm cho chữ */
    border-radius: 5px; /* bo tròn góc */
}

/* MEOW MEOW */
#meow{
    background-color: rgba(179, 179, 179, 0.05);
}
#meow p{
    max-width: 600px;
}
#meow .input-group{
    max-width: 500px;
}
#meow .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#meow .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}
#meow .btn:hover{
    background-color: #000;
    border-color: #000;
}


/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}   
footer a:hover{
    color: var(--pink)!important;
}

.btn-note:not(.nav-btns button):hover{
    background-color: white;
    color: #fff;
    border-color: var(--pink);
}
.btn-note:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.custom-small-text {
    font-size: 1rem; /* Thay đổi giá trị này để điều chỉnh kích thước chữ */
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}